Package: usbsas-kiosk
Version: 0.1.1
Maintainer: usbsas
Architecture: amd64
Section: utility
Priority: optional
Depends: usbsas-server, xserver-xorg-core, x11-xserver-utils, xinit, xdotool, unclutter, fonts-noto-color-emoji, libnss3, libatspi2.0-0, libgtk-3-0, libatomic1, libasound2, kbd
Description: usbsas kiosk client
