[Unit]
Description=USB HID dealer
Wants=systemd-udevd.service
After=systemd-udevd.service

[Service]
User=usbsas-hid
Type=simple
Environment="RUST_LOG=info"
ExecStart=/usr/libexec/hid-dealer
Restart=always

[Install]
WantedBy=graphical.target usbsas-client.service
