[package]
name = "usbsas-analyzer-server"
description = "usbsas analyzer server (with clamav)"
version = "0.1.3"
edition = "2021"
license = "GPL-3.0"

[dependencies]
actix-files = "0.6"
actix-web = "4.3"
clamav-rs = { git = "https://github.com/losynix/clamav-rs", branch = "c_char_i8" }
clap = "4.3"
env_logger = "0.10"
futures = "0.3"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tar = "0.4"
tempfile = "3.6"
uuid = { version = "1.3", features = ["v4"] }

[features]
integration-tests = []

# cargo-deb
[package.metadata.deb]
maintainer = "usbsas"
copyright = "usbsas"
depends = "$auto, usbsas-server, clamav-freshclam"
section = "utility"
priority = "optional"
maintainer-scripts = "debian/"
systemd-units = { enable = false }
assets = [
  ["target/release/usbsas-analyzer-server", "usr/bin/", "755"],
]
